In [71]:
class budget():
    amount=int(input("Enter your monthly budget: "))
    
    def __init__(self):
        self.category=''
        self.cat_amt=0
        self.database={}
        
    def deposite(self):
        self.category=input("Enter the category name:")
        self.cat_amt=int(input("Enter the category amount :"))
        while True:
            if self.cat_amt>=self.amount:
                print("you do not have enough money to deposite..")
                self.cat_amt=int(input("Enter the correct amount: "))
            elif self.cat_amt<self.amount:
                self.amount-=self.cat_amt
                self.database[(self.category)]={}
                self.database[self.category]={('balance'):self.cat_amt,('transaction'):{}}
                print(self.database)
                break
                
                
    def transactions(self):
        self.cat=input("Enter the category name: ")
        while True:
            if self.cat not in self.database:
                print(f"{self.cat} category is not present in your monthly budget.. ")
                self.cat=input("Enter the correct category name : ")
            elif self.cat in self.database:
                self.item=input("Enter the item name which you bought: ")
                self.item_cost=int(input("Enter the item cost: Rs "))
                if self.item_cost<self.cat_amt:
                    self.database[self.cat]['transaction'][(self.item)]=self.item_cost
                    self.database[self.cat]['balance']-=self.item_cost
                    print("---------budget-----------")
                    print('')
                    print(self.database)
                    break
                else:
                    print("you do not have enough category amount")    

    def transfer(self):
        self.cate=input("Enter the category name out of which you want to transfer amount to another category: ")
        while True:
            if self.cate not in self.database:
                print("you enter wrong category name .")
                self.cate=input("Enter the correct category name: ")
            elif self.cate in self.database:
                self.transfer_cat=input("Enter the transfer category name :")
                self.amt=int(input("Enter the amount : "))
                self.database[self.cate]['balance']-=self.amt
                self.database[self.transfer_cat]['balance']+=self.amt
                print("   Transfer successfully !  ")
                print(self.database)          
                break

Enter your monthly budget: 30000

In [72]:
a=budget()

In [73]:
a.amount

30000

In [74]:
a.cat_amt

0

In [77]:
 a.deposite()

Enter the category name:entertainment
Enter the category amount :5000
{'food': {'balance': 7000, 'transaction': {}}, 'clothing': {'balance': 5000, 'transaction': {}}, 'entertainment': {'balance': 5000, 'transaction': {}}}

In [78]:
a.database

{'food': {'balance': 7000, 'transaction': {}},
 'clothing': {'balance': 5000, 'transaction': {}},
 'entertainment': {'balance': 5000, 'transaction': {}}}

In [79]:
a.amount

13000

In [83]:
a.transactions()

Enter the category name: entertainment
Enter the item name which you bought: trip
Enter the item cost: Rs 2000
---------budget-----------

{'food': {'balance': 5900, 'transaction': {'fruits': 500, 'veg': 600}}, 'clothing': {'balance': 4000, 'transaction': {'shirt': 1000}}, 'entertainment': {'balance': 3000, 'transaction': {'trip': 2000}}}

In [84]:
a.database

{'food': {'balance': 5900, 'transaction': {'fruits': 500, 'veg': 600}},
 'clothing': {'balance': 4000, 'transaction': {'shirt': 1000}},
 'entertainment': {'balance': 3000, 'transaction': {'trip': 2000}}}

In [85]:
a.transfer()

Enter the category name out of which you want to transfer amount to another category: food
Enter the transfer category name :clothing
Enter the amount : 1000
{'food': {'balance': 4900, 'transaction': {'fruits': 500, 'veg': 600}}, 'clothing': {'balance': 5000, 'transaction': {'shirt': 1000}}, 'entertainment': {'balance': 3000, 'transaction': {'trip': 2000}}}